@import 'mediaquery.scss';

body {
    margin: 0;
}

#app {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @include for-phone-only {
        width: 100vw;
    }
    @include for-tablet-landscape-up-or-more {
        width: 50vw;
    }
}

.title {
    display: flex;
    justify-content: center;
    height: 6%;
    width: 100%;
    @include for-phone-only {
        font-size: 34px;
    }
    @include for-tablet-landscape-up-or-more {
        font-size: 43px;
    }
}